{
  "root": true,
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended-type-checked", "prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "tsconfigRootDir": "__dirname",
    "project": ["./tsconfig.eslint.json", "./packages/*/tsconfig.json"]
  }
}
