body {
  margin: 0;
}

.mainapp {
  line-height: 1;
}

.mainapp-header > h1 {
  color: #333;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  padding: 36px;
}
.mainapp-main {
  display: flex;
}
.mainapp-main .mainapp-sidemenu {
  width: 130px;
  list-style: none;
  margin: 0;
  margin-left: 40px;
  padding: 0;
  border-right: 2px solid #aaa;
}
.mainapp-main .mainapp-sidemenu > li {
  color: #aaa;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.mainapp-main .mainapp-sidemenu > li:hover {
  color: #444;
}
.mainapp-main .mainapp-sidemenu > li:first-child {
  margin-top: 5px;
}
#subapp-container {
  flex-grow: 1;
  position: relative;
  margin: 0 40px;
}
#subapp-container .subapp-loading {
  color: #444;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
