.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 30px;
}

.app-lib {
  color: #2c3e50;
  font-size: 16px;
}

.app-nav-item {
  margin-top: 16px;
  padding: 12px 24px;
  border: 2px solid #2c3e50;
}
